<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Paramétrage du système</h4>
                <p class="card-title-desc">Renseignez les différentes informations relatives à votre établissement.</p>

                <form action="/api/config" method="POST">
                    <div class="form-group">
                        <label for="name">Nom de l'établissement</label>
                        <div>
                            <input type="text" name="name" id="name" class="form-control" placeholder="Acme High School"
                                value="{{config.name}}" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="type">Catégorie de l'établissement</label>
                        <div>
                            <select name="type" id="type" class="custom-select">
                                <option value="">Sélectionnez une catégorie</option>
                                <option value="ces">C.E.S</option>
                                <option value="middle_school">Collège</option>
                                <option value="high_school">Lycée</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="registration">Immatriculation</label>
                        <div>
                            <input type="text" name="registration" id="registration" class="form-control"
                                value="{{config.registration}}" readonly>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="chief">Chef de l'établissement</label>
                        <div>
                            <input type="text" name="chief" id="chief" class="form-control" placeholder="John Doe"
                                value="{{config.chief}}">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="motto">Devise</label>
                        <div>
                            <input type="text" name="motto" id="motto" class="form-control"
                                placeholder="Paix - Travail - Patrie" value="{{config.motto}}">
                        </div>
                    </div>

                    <!-- Adress config -->
                    <h4 class="card-title" style="margin-top: 4%;">Adresse</h4>
                    <p class="card-title-desc">Renseignez les différentes informations relatives à votre adresse.</p>
                    <div class="form-group">
                        <label for="email">Adresse email</label>
                        <div>
                            <input type="email" name="email" id="email" class="form-control"
                                placeholder="email@school.com" value="{{config.email}}">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="phone">Numéro de téléphone</label>
                        <div>
                            <input type="tel" name="phone" id="phone" class="form-control input-mask"
                                data-inputmask="'mask': '9', 'repeat': 15" minlength="9" maxlength="15"
                                placeholder="699999999" value="{{config.phone}}">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="country">Pays</label>
                        <select class="custom-select" name="country" id="country">
                            <option value="">Sélectionnez un pays</option>
                            <option value="cameroon">Cameroun</option>
                            <option value="kenya">Kenya</option>
                            <option value="gabon">Gabon</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="region">Région</label>
                        <select class="custom-select" name="region" id="region">
                            <option value="">Sélectionnez une région</option>
                            <option value="far-north">Extrême-Nord</option>
                            <option value="north">Nord</option>
                            <option value="adamaoua">Adamaoua</option>
                            <option value="east">Est</option>
                            <option value="center">Centre</option>
                            <option value="south">Sud</option>
                            <option value="littoral">Littoral</option>
                            <option value="west">Ouest</option>
                            <option value="north-west">Nord-Ouest</option>
                            <option value="south-west">Sud-Ouest</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="department">Département</label>
                        <div>
                            <input type="text" name="department" id="department" class="form-control"
                                value="{{config.address.department}}">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="borough">Arrondissement</label>
                        <div>
                            <input type="text" name="borough" id="borough" class="form-control"
                                value="{{config.address.borough}}">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="city">Ville</label>
                        <div>
                            <input type="text" name="city" id="city" class="form-control" placeholder="Yaoundé"
                                value="{{config.address.city}}">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="postal_code">Code postal</label>
                        <div>
                            <input type="text" name="postal_code" id="postal_code" class="form-control input-mask"
                                data-inputmask="'mask': '9', 'repeat': 10" value="{{config.address.postal_code}}">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="core">Adresse physique</label>
                        <div>
                            <input type="text" name="core" id="core" class="form-control"
                                placeholder="149, Petit marché Odza" value="{{config.address.core}}">
                        </div>
                    </div>

                    <div class="row float-right" style="margin-right: 5px; margin-top: 2%; margin-bottom: 1%">
                        <a class="btn btn-light" style="margin-right: 10px" href="/">Annuler</a>
                        <button class="btn btn-success" type="submit">Enregistrer les paramètres</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script src="/assets/libs/inputmask/min/jquery.inputmask.bundle.min.js"></script>
<script src="/assets/js/pages/form-mask.init.js"></script>