<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-10">
                        <h4 class="card-title">Liste du personnel de l'établissement</h4>
                        {{#if populated}}
                        <p class="card-title-desc">Visualisez la liste du personnel de
                            l'établissement, n'hésitez pas à
                            cliquer
                            sur les colonnes pour les organiser.</p>
                        {{else}}
                        <p class="card-title-desc">Aucun personnel disponible. Cliquez sur le
                            bouton "Ajouter" pour
                            ajouter
                            du
                            personnel.</p>
                        {{/if}}
                    </div>
                    <div class="col-md-2">
                        <button class="btn btn-primary float-right" data-toggle="modal"
                            data-target=".add-staff-modal"><i class="bx bx-user-plus mr-2"></i>Ajouter</button>
                    </div>
                </div>

                {{> messages}}

                {{#if populated}}
                <table id="datatable-buttons" class="table table-striped table-bordered dt-responsive nowrap"
                    style="border-collapse: collapse; border-spacing: 0; width: 100%;">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Noms & Prénoms</th>
                            <th>Type</th>
                            <th>Sexe</th>
                            <th>Adresse</th>
                            <th>Téléphone</th>
                            <th>Actions</th>
                        </tr>
                    </thead>

                    <tbody>
                        {{#each all as |staff|}}
                        <tr>
                            <td style="font-weight: bold">{{inc @index}}</td>
                            <td style="font-weight: bold">{{staff.first_name}} {{staff.last_name}}</td>
                            <td>{{staff.type}}</td>
                            <td>{{staff.gender}}</td>
                            <td>{{staff.address}}</td>
                            <td>{{staff.phone}}</td>
                            <td>
                                <div class="btn-group mt-4 mt-md-0" role="group" aria-label="Staff actions">
                                    <button type="button" title="Visualiser" class="btn btn-primary show"
                                        data-staff="{{staff._id}}"><i class="bx bxs-show"></i></button>
                                    <button type="button" title="Modifier" class="btn btn-primary edit"
                                        data-staff="{{staff._id}}"><i class="bx bx-edit-alt"></i></button>
                                    <button type="button" title="Supprimer" class="btn btn-danger delete"
                                        data-staff="{{staff._id}}"><i class="bx bx-trash"></i></button>
                                </div>
                            </td>
                        </tr>
                        {{/each}}
                    </tbody>
                </table>
                {{/if}}
            </div>
        </div>
    </div>
</div>

<!-- Add staff modal -->
<div class="modal fade add-staff-modal" tabindex="-1" role="dialog" aria-labelledby="Add staff modal"
    style="display: none;" aria-modal="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <div class="col-md-10">
                    <h5 class="modal-title mt-0" id="myLargeModalLabel">Ajouter un personnel</h5>
                    <p class="card-title-desc" style="margin-bottom: 0">Remplissez tous les champs requis et cliquez sur
                        Enregistrer.</p>
                </div>

                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <form action="/api/staff" method="post">
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="first_name">Nom(s) *</label>
                                <input type="text" class="form-control" name="first_name" id="first_name"
                                    placeholder="Jon" required>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="last_name">Prénom(s)</label>
                                <input type="text" class="form-control" name="last_name" id="last_name"
                                    placeholder="Snow">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="birthdate">Date de naissance *</label>
                                <input type="date" class="form-control" name="birthdate" id="birthdate"
                                    placeholder="Jon" required>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="birthplace">Lieu de naissance *</label>
                                <input type="text" class="form-control" name="birthplace" id="birthplace"
                                    placeholder="Bertoua" required>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="gender">Sexe *</label>
                                <select name="gender" id="gender" class="form-control" required>
                                    <option value="">Sélectionnez le sexe</option>
                                    <option value="Homme">Homme</option>
                                    <option value="Femme">Femme</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="type">Type *</label>
                                <select name="type" id="type" class="form-control" required>
                                    <option value="">Sélectionnez le type de personnel</option>
                                    <option value="Enseignant">Enseignant</option>
                                    <option value="Directeur des études">Directeur des études</option>
                                    <option value="Comptable">Comptable</option>
                                    <option value="Trésorier">Trésorier</option>
                                    <option value="Caissier">Caissier/ère</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="address">Adresse *</label>
                                <input type="text" class="form-control" name="address" id="address"
                                    placeholder="132 Petit Marché Odza, Yaoundé - Cameroun" required>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="birthdate">Téléphone</label>
                                <input type="tel" name="phone" id="phone" class="form-control input-mask"
                                    data-inputmask="'mask': '9', 'repeat': 15" minlength="9" maxlength="15"
                                    placeholder="699999999" required>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="email">Adresse e-mail</label>
                                <input type="email" class="form-control" name="email" id="email" placeholder="Bertoua">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="cancel" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
                    <button type="submit" class="btn btn-success">Enregistrer</button>
                </div>
            </form>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- End add staff modal -->

<!-- Edit staff modal -->
<div class="modal fade edit-staff-modal" tabindex="-1" role="dialog" aria-labelledby="Edit staff modal"
    style="display: none;" aria-modal="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <div class="col-md-10">
                    <h5 class="modal-title mt-0" id="myLargeModalLabel">Modifier un personnel</h5>
                    <p class="card-title-desc" style="margin-bottom: 0">Remplissez tous les champs requis et cliquez sur
                        Enregistrer.</p>
                </div>

                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <form id="edit-staff-form" action="/api/staff" method="post">
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="first_name">Nom(s) *</label>
                                <input type="text" class="form-control" name="first_name" id="first_name"
                                    placeholder="Jon" required>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="last_name">Prénom(s)</label>
                                <input type="text" class="form-control" name="last_name" id="last_name"
                                    placeholder="Snow">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="birthdate">Date de naissance *</label>
                                <input type="date" class="form-control" name="birthdate" id="birthdate"
                                    placeholder="Jon" required>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="birthplace">Lieu de naissance *</label>
                                <input type="text" class="form-control" name="birthplace" id="birthplace"
                                    placeholder="Bertoua" required>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="gender">Sexe *</label>
                                <select name="gender" id="gender" class="form-control" required>
                                    <option value="">Sélectionnez le sexe</option>
                                    <option value="Homme">Homme</option>
                                    <option value="Femme">Femme</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="type">Type *</label>
                                <select name="type" id="type" class="form-control" required>
                                    <option value="">Sélectionnez le type de personnel</option>
                                    <option value="Enseignant">Enseignant</option>
                                    <option value="Directeur des études">Directeur des études</option>
                                    <option value="Comptable">Comptable</option>
                                    <option value="Trésorier">Trésorier</option>
                                    <option value="Caissier">Caissier/ère</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="address">Adresse *</label>
                                <input type="text" class="form-control" name="address" id="address"
                                    placeholder="132 Petit Marché Odza, Yaoundé - Cameroun" required>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="birthdate">Téléphone</label>
                                <input type="tel" name="phone" id="phone" class="form-control input-mask"
                                    data-inputmask="'mask': '9', 'repeat': 15" minlength="9" maxlength="15"
                                    placeholder="699999999" required>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="email">Adresse e-mail</label>
                                <input type="email" class="form-control" name="email" id="email" placeholder="Bertoua">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="cancel" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
                    <button type="submit" class="btn btn-success">Enregistrer</button>
                </div>
            </form>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- End edit staff modal -->

<!-- Required datatable js -->
<script src="/assets/libs/datatables.net/js/jquery.dataTables.min.js"></script>
<script src="/assets/libs/datatables.net-bs4/js/dataTables.bootstrap4.min.js"></script>
<!-- Buttons examples -->
<script src="/assets/libs/datatables.net-buttons/js/dataTables.buttons.min.js"></script>
<script src="/assets/libs/datatables.net-buttons-bs4/js/buttons.bootstrap4.min.js"></script>
<script src="/assets/libs/jszip/jszip.min.js"></script>
<script src="/assets/libs/pdfmake/build/pdfmake.min.js"></script>
<script src="/assets/libs/pdfmake/build/vfs_fonts.js"></script>
<script src="/assets/libs/datatables.net-buttons/js/buttons.html5.min.js"></script>
<script src="/assets/libs/datatables.net-buttons/js/buttons.print.min.js"></script>
<script src="/assets/libs/datatables.net-buttons/js/buttons.colVis.min.js"></script>
<!-- Responsive examples -->
<script src="/assets/libs/datatables.net-responsive/js/dataTables.responsive.min.js"></script>
<script src="/assets/libs/datatables.net-responsive-bs4/js/responsive.bootstrap4.min.js"></script>
<!-- Responsive examples -->
<script src="/assets/libs/datatables.net-responsive/js/dataTables.responsive.min.js"></script>
<script src="/assets/libs/datatables.net-responsive-bs4/js/responsive.bootstrap4.min.js"></script>
<!-- Input mask -->
<script src="/assets/libs/inputmask/min/jquery.inputmask.bundle.min.js"></script>
<script src="/assets/js/pages/form-mask.init.js"></script>
<script src="/assets/libs/moment.js"></script>
<script src="/assets/libs/sweetalert2/sweetalert2.min.js"></script>

<script>
    const disableInput = () => {
        const input = $('#edit-staff-form').find('input');
        const select = $('#edit-staff-form').find('select');

        for (item of input) {
            item.disabled = true;
        }

        for (item of select) {
            item.disabled = true;
        }
    };

    const enableInput = () => {
        const input = $('#edit-staff-form').find('input');
        const select = $('#edit-staff-form').find('select');

        for (item of input) {
            item.disabled = false;
        }

        for (item of select) {
            item.disabled = false;
        }
    };

    // Init DataTable
    $('table').DataTable({ lengthChange: !1, buttons: ["copy", "excel", "pdf", "colvis"] }).buttons().container().appendTo("#datatable-buttons_wrapper .col-md-6:eq(0)");

    $('.edit').click(function () {
        const staff_id = $(this)[0].dataset['staff'];

        $.ajax({
            method: 'GET',
            url: '/api/staff/' + staff_id,
            success: (staff) => {
                $('.edit-staff-modal #first_name').val(staff.first_name);
                $('.edit-staff-modal #last_name').val(staff.last_name);
                $('.edit-staff-modal #birthdate').val(moment(staff.birthdate).format('YYYY-MM-DD'));
                $('.edit-staff-modal #birthplace').val(staff.birthplace);
                $('.edit-staff-modal #address').val(staff.address);
                $('.edit-staff-modal #phone').val(staff.phone);
                $('.edit-staff-modal #email').val(staff.email);

                $('.edit-staff-modal #gender').find('option[value="' + staff.gender + '"]')[0].selected = true
                $('.edit-staff-modal #type').find('option[value="' + staff.type + '"]')[0].selected = true

                $('#edit-staff-form')[0].action = '/api/staff/' + staff._id + '/update';
                enableInput();

                $('.edit-staff-modal').modal('show');
            },
            error: (err) => {
                console.error(err);
            }
        });
    });

    $('.show').click(function () {
        const staff_id = $(this)[0].dataset['staff'];

        $.ajax({
            method: 'GET',
            url: '/api/staff/' + staff_id,
            success: (staff) => {
                $('.edit-staff-modal #first_name').val(staff.first_name);
                $('.edit-staff-modal #last_name').val(staff.last_name);
                $('.edit-staff-modal #birthdate').val(moment(staff.birthdate).format('YYYY-MM-DD'));
                $('.edit-staff-modal #birthplace').val(staff.birthplace);
                $('.edit-staff-modal #address').val(staff.address);
                $('.edit-staff-modal #phone').val(staff.phone);
                $('.edit-staff-modal #email').val(staff.email);

                $('.edit-staff-modal #gender').find('option[value="' + staff.gender + '"]')[0].selected = true
                $('.edit-staff-modal #type').find('option[value="' + staff.type + '"]')[0].selected = true

                disableInput();

                $('.edit-staff-modal').modal('show');
            },
            error: (err) => {
                console.error(err);
            }
        });
    });

    $('.delete').click(function () {
        const staff_id = $(this)[0].dataset['staff'];

        Swal.fire({
            title: 'Confirmation de suppression',
            text: "Êtes vous sûr de vouloir supprimer ce personnel?",
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#45cb85',
            cancelButtonColor: '#9095ad',
            confirmButtonText: 'Oui, supprimer',
            cancelButtonText: 'Annuler'
        }).then((result) => {
            if (result.value) {
                $.ajax({
                    url: '/api/staff/' + staff_id + '/delete',
                    method: 'GET',
                    success: () => {
                        Swal.fire('Suppression effectuée', 'Le personnel a été supprimé avec succès.', 'success');
                        setTimeout(() => {
                            window.location.reload();
                        }, 2000);
                    },
                    error: (err) => {
                        console.error(err);
                        Swal.fire('Erreur de suppression', 'Une erreur est survenue lors de la suppression du personnel.', 'error');
                    }
                });
            }
        });
    });
</script>